#img-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 20px;
}
#detail-img {
    height: 300px;
}

#assignment-title {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 20px;
    margin-top: 20px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}